apiVersion: v1
kind: ConfigMap
metadata:
  name: dpm-configmap
data:
  application.properties: |
    dataplane.grpc.port = 50001
    dataplane.isovs=true
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: dpmmanager
  name: dpmmanager
spec:
  selector:
    matchLabels:
      app: dpmmanager
  replicas: 3
  template:
    metadata:
      labels:
        app: dpmmanager
    spec:
      volumes:
        - name: dpm-volume
          configMap:
            name: dpm-configmap
            items:
              - key: application.properties
                path: application.properties
      containers:
        - image: zhonghaolyu/repo:dpmKube1
        #- image: fwnetworking/controller:dpm_manager-v0.3.0
          name: dpmmanager-web
          imagePullPolicy: IfNotPresent
          command: ["java", "-jar", "/app/AlcorDataPlaneManager-0.1.0.jar", "--spring.config.location=/etc/dpm/application.properties"]
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: dpm-volume
              mountPath: /etc/dpm
          envFrom:
            - configMapRef:
                name: dpm-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: dpmmanager-service
  labels:
    name: dpmmanager-service
spec:
  type: NodePort
  ports:
    - port: 9010
      targetPort: 8080
      nodePort: 30010
  selector:
    app: dpmmanager

