apiVersion: v1
kind: ConfigMap
metadata:
  name: dpm-configmap
data:
  application.properties: |
    dataplane.grpc.port = 50001
    dataplane.isovs=true
    # the zipkin host should be YOURS
    # spring.zipkin.base-url=http://10.213.43.187:9411

    grpc.min-threads = 100
    grpc.max-threads = 200
    grpc.threads-pool-name = grpc-thread-pool

    grpc.number-of-channels-per-host = 10
    grpc.number-of-warmups-per-channel = 1
    grpc.monitor-hosts = 0.0.0.0,0.0.0.1


    #DPM v1 is statically using version 101
    #DPM v2 will start with version 102
    protobuf.goal-state-message.version = 102

    #logging.file.path=./
    #logging.file.name=data-plane-manager.log
    logging.level.root=DEBUG

    ignite.host=ignite-alcor-service.ignite-alcor.svc.cluster.local
    ignite.port=10800
    ignite.thin.client.enable=true
    #ignite.key-store-path=keystore.jks
    #ignite.key-store-password=123456
    #ignite.trust-store-path=truststore.jks
    #ignite.trust-store-password=123456

    mq.type=pulsar
    pulsar.url=pulsar://127.0.0.1:6650
    pulsar.unicast.topic=unicast-topic1
    host.ip.to.group.topic.map=group-topic1:192.168.131.131,10.10.10.11 group-topic2:192.168.131.131,11.11.11.12
    group.topic.to.multicast.topic.map=multicast-topic1:group-topic1,group-topic3 multicast-topic2:group-topic2,group-topic4

    zetaGateway.enabled=false
    zetaGateway.node.mac=e0:97:96:02:45:53
    microservices.node.service.url=http://nodemanager-service.default.svc.cluster.local:9007/nodes
    microservices.zeta.management.url=http://10.213.43.90
    microservices.gateway.service.url=http://gatewaymanager-service.default.svc.cluster.local:9015
    zetaGateway.check.timeout = 30
    zetaGateway.check.interval = 2

    opentracing.jaeger.udp-sender.host=localhost
    opentracing.jaeger.udp-sender.port=6831
    opentracing.jaeger.const-sampler.decision=true
    opentracing.jaeger.enabled=true
    opentracing.jaeger.log-spans=true
    opentracing.jaeger.enable-w3c-propagation=true
    opentracing.jaeger.enable-b3-propagation=true
    opentracing.jaeger.service-name=alcor-dpm

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: dataplanemanager
  name: dataplanemanager
spec:
  selector:
    matchLabels:
      app: dataplanemanager
  replicas: 5
  template:
    metadata:
      labels:
        app: dataplanemanager
    spec:
      volumes:
        - name: dpm-volume
          configMap:
            name: dpm-configmap
            items:
              - key: application.properties
                path: application.properties
      containers:
        - image: data_plane_manager:v1.0
        #- image: fwnetworking/controller:dpm_manager-v0.3.0
          name: dataplanemanager-web
          imagePullPolicy: IfNotPresent
          command: ["java", "-jar", "/app/AlcorDataPlaneManager-0.1.0.jar", "--spring.config.location=/etc/dpm/application.properties"]
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: dpm-volume
              mountPath: /etc/dpm
          envFrom:
            - configMapRef:
                name: dpm-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: dataplanemanager-service
  labels:
    name: dataplanemanager-service
spec:
  type: NodePort
  ports:
    - port: 9010
      targetPort: 8080
      nodePort: 30010
  selector:
    app: dataplanemanager

