apiVersion: v1
kind: ConfigMap
metadata:
  name: mac-configmap
data:
  application.properties: |
    ignite.thin.client.enable=true
    spring.redis.host=localhost
    spring.redis.port=6380
    ignite.host=ignite-alcor-mac-service.ignite-alcor-mac.svc.cluster.local
    ignite.port=10803
    #ignite.key-store-path=keystore.jks
    #ignite.key-store-password=123456
    #ignite.trust-store-path=truststore.jks
    #ignite.trust-store-password=123456
    logging.level.root=DEBUG
    macmanager.oui = aa:bb:cc
    macmanager.pool.size = 100
    macmanager.retrylimit = 10
    
    spring.sleuth.sampler.probability=1.0
    spring.application.name=mac-manager
    # the zipkin host should be YOURS
    spring.zipkin.base-url=http://10.213.43.187:9411
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: macmanager
  name: macmanager
spec:
  selector:
    matchLabels:
      app: macmanager
  replicas: 5
  template:
    metadata:
      labels:
        app: macmanager
    spec:
      volumes:
        - name: mac-volume
          configMap:
            name: mac-configmap
            items:
              - key: application.properties
                path: application.properties
      containers:
        - image: mac_manager:v1.0
        #- image: fwnetworking/controller:mac_manager-v0.3.0
          name: macmanager-web
          imagePullPolicy: IfNotPresent
          command: ["java", "-jar", "/app/AlcorMacManager-0.1.0.jar", "--spring.config.location=/etc/mac/application.properties"]
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: mac-volume
              mountPath: /etc/mac
          envFrom:
            - configMapRef:
                name: mac-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: macmanager-service
  labels:
    name: macmanager-service
spec:
  type: NodePort
  ports:
    - port: 9005
      targetPort: 8080
      nodePort: 30005
  selector:
    app: macmanager

