apiVersion: v1
kind: ConfigMap
metadata:
  name: node-configmap
data:
  application.properties: |
    spring.redis.host=localhost
    spring.redis.port=6380
    ignite.host=ignite-alcor-service.ignite-alcor.svc.cluster.local
    ignite.port=10800
    ignite.thin.client.enable=true
    #ignite.key-store-path=keystore.jks
    #ignite.key-store-password=123456
    #ignite.trust-store-path=truststore.jks
    #ignite.trust-store-password=123456
    logging.level.root=DEBUG
    spring.servlet.multipart.enabled=true
    spring.servlet.multipart.file-size-threshold=2KB
    spring.servlet.multipart.max-file-size=200MB
    spring.servlet.multipart.max-request-size=215MB
    microservices.dataplane.service.url=http://dataplanemanager-service.default.svc.cluster.local:30010/network-configuration
    microservices.dataplane.nodeservice.url=http://dataplanemanager-service.default.svc.cluster.local:30010/nodes

    opentracing.jaeger.udp-sender.host=10.111.132.59
    opentracing.jaeger.udp-sender.port=6831
    opentracing.jaeger.const-sampler.decision=true
    opentracing.jaeger.enabled=true
    opentracing.jaeger.log-spans=true
    opentracing.jaeger.enable-w3c-propagation=true
    opentracing.jaeger.enable-b3-propagation=true
    opentracing.jaeger.service-name=alcor-node

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: nodemanager
  name: nodemanager
spec:
  selector:
    matchLabels:
      app: nodemanager
  replicas: 5
  template:
    metadata:
      labels:
        app: nodemanager
    spec:
      volumes:
        - name: node-volume
          configMap:
            name: node-configmap
            items:
              - key: application.properties
                path: application.properties
      containers:
        - image: node_manager:v1.0
        #- image: fwnetworking/controller:node_manager-v0.3.0
          name: nodemanager-web
          imagePullPolicy: IfNotPresent
          command: ["java", "-jar", "/app/AlcorNodeManager-0.1.0.jar", "--spring.config.location=/etc/node/application.properties"]
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: node-volume
              mountPath: /etc/node
          envFrom:
            - configMapRef:
                name: node-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: nodemanager-service
  labels:
    name: nodemanager-service
spec:
  type: NodePort
  ports:
    - port: 9007
      targetPort: 8080
      nodePort: 30007
  selector:
    app: nodemanager

