apiVersion: v1
kind: ConfigMap
metadata:
  name: sg-configmap
data:
  application.properties: |
    ignite.thin.client.enable=true
    ignite.host=ignite-alcor-service.ignite-alcor.svc.cluster.local
    ignite.port=10800
    logging.level.root=DEBUG

    opentracing.jaeger.udp-sender.host=10.111.132.59
    opentracing.jaeger.udp-sender.port=6831
    opentracing.jaeger.const-sampler.decision=true
    opentracing.jaeger.enabled=true
    opentracing.jaeger.log-spans=true
    opentracing.jaeger.enable-w3c-propagation=true
    opentracing.jaeger.enable-b3-propagation=true
    opentracing.jaeger.service-name=alcor-sg

---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: sgmanager
  name: sgmanager
spec:
  selector:
    matchLabels:
      app: sgmanager
  replicas: 5
  template:
    metadata:
      labels:
        app: sgmanager
    spec:
      volumes:
        - name: sg-volume
          configMap:
            name: sg-configmap
            items:
              - key: application.properties
                path: application.properties
      containers:
        - image: security_group_manager:v1.0
        #- image: fwnetworking/controller:node_manager-v0.3.0
          name: sgmanager-web
          imagePullPolicy: IfNotPresent
          command: ["java", "-jar", "/app/AlcorSecurityGroupManager-0.1.0.jar", "--spring.config.location=/etc/sg/application.properties"]
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: sg-volume
              mountPath: /etc/sg
          envFrom:
            - configMapRef:
                name: sg-configmap
---
apiVersion: v1
kind: Service
metadata:
  name: sgmanager-service
  labels:
    name: sgmanager-service
spec:
  type: NodePort
  ports:
    - port: 9008
      targetPort: 8080
      nodePort: 30008
  selector:
    app: sgmanager

